
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Poppins";
    box-sizing: border-box;
    --grid-colum:1fr;
}
.Btn{
    background-color: gold;
    color: black;
    height: 37px;
    margin-left: 10px;
    width: 70px;
    border-radius: 6px;
    cursor: pointer;
}

.btnSearch{
   
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;

    position: absolute;

}
.indexSection{
    display: grid;
    grid-template-columns: 0.7fr 11.3fr;
    
}

.showNav{
    transform: translateX(0%);
    transition: 1s ;
}
.hideNav{
    transform: translateX(-100%);
    transition: 1s;

}

@media only screen and (max-width:768px) {
    .indexSection{
        display: grid;
        grid-template-columns:12fr;
        
    }
    
}
